# Q.1)

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [22]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
#driver.implicitly_wait(2)
#driver.maximize_window()
driver.get('https://www.naukri.com')

In [23]:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [24]:
search_job.send_keys("Data Analyst")

In [25]:
search_locn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_locn

In [26]:
search_locn.send_keys("Bangalore")

In [27]:
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [28]:
search_btn.click()

In [29]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="cab3a729-ecf5-4204-a4d2-56f80f41d951")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="0f8350c7-63da-4448-b991-184cd6909b36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="1ba6fc03-61ec-40ea-9ca3-604415b180d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="6b646d8e-51df-431b-a3c6-5a7da439a708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="d7708cb5-268e-407d-b25a-a696e268e085")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="712822b3-48bb-49b6-8cb1-fb10e9f474c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="4f27fd4c-a7d7-4c86-98ff-5bc1b29973e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="250af3c7-ab33-4f8f-b93f-4a09453160bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="19eef99e-1142-4921-bc75-e86a8de95530")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="2a6b9d4a-db1c-4542-9685-6a413429bb61")>]

In [30]:
title=[]
for i in title_tag:
    title.append(i.text)
title=title[0:10]
title

['Hiring For Data Analyst I(SQL & Python)',
 'Data Analyst - 3rd Party Payroll',
 'Data Analyst I',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Looking For Data Analyst - Remote Support',
 'Job openings For Data Analyst - AOA',
 'Senior Data Analyst - Ads & Promotion Platform (APP)']

In [31]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="1c66839a-bc97-48e7-82e3-519d1d9f91f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="d3df1744-a842-491e-96af-4be804cb4c25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="3036b580-233b-424b-9cdb-bf9cde9e8c1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="edba474f-61b5-473a-9418-e08123d48996")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="657aab76-dddb-4186-bd25-199789da1563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="924d9369-65c5-4b12-b076-c319820a50a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="50684612-e73b-4c43-bd76-f99390862008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="c9a248d6-6ade-4d2c-a9be-206c9eb1e0f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="450aeac6-3a8e-4fce-9403-6532176c83b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="f196f105-ffed-4deb-a236-56c526a533f7")>]

In [32]:
company_name=[]

for i in company_tag:
    company_name.append(i.text)
company=company_name[0:10]
company

['Clario India Pvt Ltd',
 'Flipkart',
 'Cerner',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Locuz Enterprise Solutions Ltd',
 'izmo ltd',
 'Gojek']

In [33]:
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="233b9404-0140-43a3-93ef-7040d653debb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="b1ae2ce3-b21c-4260-a9b8-b1de3b6e10bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="c2e3d866-ec7b-4202-8dcd-baf946cda9b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="b2aa863d-3e7a-447a-975f-b61e892122f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="37f83fd1-9255-4bc0-84c3-5bcdb6ffccb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="ef15f674-b30b-42a6-a025-09ecc7f0cb31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="e5450095-89c2-4127-8dea-3d66df266a8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="d6fdaee6-3c7e-48e3-a180-a7edd5a0c9d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="dabaa221-2b55-4d3f-b5be-b9dde31a7e42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="8bb5a8be-d026-4af0-b219-71f596a0eb34")>]

In [34]:
exp=[]

for i in exp_tag:
    exp.append(i.text)
exp=exp[0:10]
exp

['0-2 Yrs',
 '2-4 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '5-10 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

In [35]:
loc_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
loc_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="b08f3640-911f-42f6-aa60-f79bf20e906c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="0f8f606d-fa77-4ff0-beb9-08437495fe4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="d63b66c8-4efd-443e-b60c-24946db0332f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="5463e18e-6b2b-4d78-8670-9682150b7770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="bdabad9a-7135-470e-b4e9-30cd1999ec0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="dcdb3f4d-e399-4504-ba78-3b6c125df598")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="e1c52572-e883-4814-a852-443051e010ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="c2b7e429-3d7a-4ab8-9548-de366bb577e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="124909de-a7ec-48fd-bdf6-d05c63203c18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e49bada2-ebb0-45b5-adbd-510277e67c32", element="394e55f2-3429-46b7-96c3-20ea92f2bdaa")>]

In [36]:
loc=[]
for i in loc_tag:
    loc.append(i.text)
loc=loc[0:10]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(4th Phase JP Nagar)',
 'Bangalore/Bengaluru']

In [37]:
print(len(title),len(company),len(exp),len(loc))

10 10 10 10

In [38]:
jobs1=pd.DataFrame()
jobs1["Title"]=title
jobs1["Comapny"]=company
jobs1["Experience"]=exp
jobs1["Location"]=loc
jobs1

,Title,Comapny,Experience,Location
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru
1,Data Analyst - 3rd Party Payroll,Flipkart,2-4 Yrs,Bangalore/Bengaluru
2,Data Analyst I,Cerner,5-10 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Flipkart,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
7,Looking For Data Analyst - Remote Support,Locuz Enterprise Solutions Ltd,5-10 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
8,Job openings For Data Analyst - AOA,izmo ltd,2-3 Yrs,Bangalore/Bengaluru(4th Phase JP Nagar)
9,Senior Data Analyst - Ads & Promotion Platform...,Gojek,3-8 Yrs,Bangalore/Bengaluru

# Q.2)

In [39]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
#driver.implicitly_wait(2)
#driver.maximize_window()
driver.get('https://www.naukri.com')

In [41]:
searchjob=driver.find_element_by_class_name("suggestor-input")
searchjob

In [42]:
searchjob.send_keys("Data Scientist")

In [43]:
searchlocn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
searchlocn

In [44]:
searchlocn.send_keys("Bangalore")

In [45]:
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [46]:
search_btn.click()

In [47]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag[0:10]

title=[]
for i in title_tag:
    title.append(i.text)
title=title[0:10]
title

['Data Scientist III',
 'Sr Data Scientist',
 'Data Scientist/Senior Data Scientist - Python',
 'HCL Tech Opening - Lead Data Scientist',
 'Sr . Data Scientist',
 'Need Data scientists and data engineers - WFH- less than 30days notice',
 'Sr. Data Scientist - Manufacturing Projects - German MNC',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [48]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[0:10]

company=[]
for i in company_tag:
    company.append(i.text)
company=company[0:10]
company

['Groupon',
 'Uber',
 'ApicalGo Consultancy',
 'HCL',
 'Visa',
 'Covalense Technologies Private Limited',
 'EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED',
 'Mobile Premier League',
 'Shell',
 'HDFC Bank']

In [49]:
loc_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tag[0:10]

loc=[]
for i in loc_tag:
    loc.append(i.text)
loc=loc[0:10]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [50]:
print(len(title),len(company),len(loc))

10 10 10

In [51]:
jobs2=pd.DataFrame()
jobs2["Title"]=title
jobs2["Company"]=company
jobs2["Location"]=loc
jobs2

,Title,Company,Location
0,Data Scientist III,Groupon,Bangalore/Bengaluru
1,Sr Data Scientist,Uber,Bangalore/Bengaluru
2,Data Scientist/Senior Data Scientist - Python,ApicalGo Consultancy,Bangalore/Bengaluru
3,HCL Tech Opening - Lead Data Scientist,HCL,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
4,Sr . Data Scientist,Visa,Bangalore/Bengaluru
5,Need Data scientists and data engineers - WFH-...,Covalense Technologies Private Limited,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
6,Sr. Data Scientist - Manufacturing Projects - ...,EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED,"Pune, Bangalore/Bengaluru"
7,Principal Data Scientist,Mobile Premier League,Bangalore/Bengaluru
8,Data Scientist,Shell,Bangalore/Bengaluru
9,Data Scientist,HDFC Bank,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."

# Q.3)

In [52]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
#driver.implicitly_wait(2)
#driver.maximize_window()
driver.get('https://www.naukri.com')

In [53]:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [54]:
search_job.send_keys("Data Scientist")

In [55]:
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [56]:
search_btn.click()

In [59]:
loc_check=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p")
loc_check

In [60]:
loc_check.click()

In [61]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag[0:10]

title=[]
for i in title_tag:
    title.append(i.text)
title=title[0:10]
title

['HCL Tech Opening - Lead Data Scientist',
 'Data Scientist',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Hiring For Senior Data Scientist || Noida/Hyderabad',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist/ Analyst Specialist',
 'Data Scientist',
 'Virtusa Hiring DATA Scientist- PAN India',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist - Machine Learning']

In [62]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[0:10]

company=[]
for i in company_tag:
    company.append(i.text)
company=company[0:10]
company

['HCL',
 'HDFC Bank',
 'NTT Data',
 'Tokopedia',
 'Concentrix',
 'TransOrg Solutions Services (P) Ltd.',
 'Korea Trade Center',
 'Virtusa',
 'GABA Consultancy services',
 'Corner Tree Consulting']

In [63]:
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tag[0:10]

exp=[]
for i in exp_tag:
    exp.append(i.text)
exp=exp[0:10]
exp

['10-20 Yrs',
 '1-6 Yrs',
 '0-0 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-4 Yrs',
 '5-9 Yrs',
 '0-0 Yrs',
 '6-10 Yrs']

In [64]:
print(len(title),len(company),len(exp),len(loc))

10 10 10 10

In [65]:
job3=pd.DataFrame()
job3["Title"]=title
job3["Company"]=company
job3["Experience"]=exp
job3["Location"]=loc
job3

,Title,Company,Experience,Location
0,HCL Tech Opening - Lead Data Scientist,HCL,10-20 Yrs,Bangalore/Bengaluru
1,Data Scientist,HDFC Bank,1-6 Yrs,Bangalore/Bengaluru
2,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,Bangalore/Bengaluru
3,Hiring For Senior Data Scientist || Noida/Hyde...,Tokopedia,2-4 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
4,Forecasting Analyst/ Data Scientist (US Client),Concentrix,3-8 Yrs,Bangalore/Bengaluru
5,Data Scientist/ Analyst Specialist,TransOrg Solutions Services (P) Ltd.,1-4 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
6,Data Scientist,Korea Trade Center,3-4 Yrs,"Pune, Bangalore/Bengaluru"
7,Virtusa Hiring DATA Scientist- PAN India,Virtusa,5-9 Yrs,Bangalore/Bengaluru
8,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,Bangalore/Bengaluru
9,Data Scientist - Machine Learning,Corner Tree Consulting,6-10 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."

# Q.4)

In [66]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.flipkart.com')

In [67]:
search=driver.find_element_by_class_name("_3704LK")
search

In [68]:
search.send_keys("sunglasses")

In [69]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [71]:
search_btn.click()

In [73]:
product=[]
for i in range(0,3):
    product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    product_tag[0:100]
    for i in product_tag:
        product.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_btn
product=product[0:100]
product

['VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'Elligator',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'VINCENT CHASE',
 'Lee Topper',
 'Lee Topper',
 'kingsunglasses',
 'VINCENT CHASE',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'LOUIS KOUROS',
 'PIRASO',
 'Silver Kartz',
 'PIRASO',
 'LOUIS KOUROS',
 'SUNBEE',
 'kingsunglasses',
 'kingsunglasses',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'ROYAL SON',
 'VINCENT CHASE',
 'GANSTA',
 'Fastrack',
 'PIRASO',
 'POLICE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'Elligator',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'VINCENT CHASE',
 'Lee Topper',
 'Lee Topper',
 'kingsunglasses',
 'VINCENT CHASE',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'LOUIS KOUROS',
 'PIRASO',
 'Silver Kartz',
 'PIRASO',
 'LOUIS KOUROS',
 'SUNBEE',
 'kingsunglasses',
 'kingsunglasses',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'ROYAL SON',
 'VINCENT CHASE',
 'GANSTA',
 'Fastrack',
 'PIRASO',
 'POLICE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'Elligator',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'VINCENT CHASE',
 'Lee Topper',
 'Lee Topper',
 'kingsunglasses',
 'VINCENT CHASE']

In [74]:
description=[]
for i in range(0,3):
    description_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    description_tag[0:100]
    for i in description_tag:
        description.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_btn
description=description[0:100]
description

['by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Gradient Oval Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Gradient Oval Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [75]:
price=[]
for i in range(0,3):
    price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    price_tag[0:100]
    for i in price_tag:
        price.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_btn
price=price[0:100]
price

['₹1,344',
 '₹759',
 '₹198',
 '₹253',
 '₹258',
 '₹474',
 '₹202',
 '₹799',
 '₹229',
 '₹679',
 '₹232',
 '₹799',
 '₹225',
 '₹165',
 '₹198',
 '₹799',
 '₹275',
 '₹199',
 '₹239',
 '₹799',
 '₹289',
 '₹225',
 '₹379',
 '₹1,349',
 '₹375',
 '₹246',
 '₹349',
 '₹1,349',
 '₹284',
 '₹289',
 '₹184',
 '₹999',
 '₹189',
 '₹186',
 '₹379',
 '₹799',
 '₹284',
 '₹639',
 '₹225',
 '₹3,048',
 '₹1,344',
 '₹759',
 '₹198',
 '₹253',
 '₹258',
 '₹474',
 '₹202',
 '₹799',
 '₹229',
 '₹679',
 '₹232',
 '₹799',
 '₹225',
 '₹165',
 '₹198',
 '₹799',
 '₹275',
 '₹199',
 '₹239',
 '₹799',
 '₹289',
 '₹225',
 '₹379',
 '₹1,349',
 '₹375',
 '₹246',
 '₹349',
 '₹1,349',
 '₹284',
 '₹289',
 '₹184',
 '₹999',
 '₹189',
 '₹186',
 '₹379',
 '₹799',
 '₹284',
 '₹639',
 '₹225',
 '₹3,048',
 '₹1,344',
 '₹759',
 '₹198',
 '₹253',
 '₹258',
 '₹474',
 '₹202',
 '₹799',
 '₹229',
 '₹679',
 '₹232',
 '₹799',
 '₹225',
 '₹165',
 '₹198',
 '₹799',
 '₹275',
 '₹199',
 '₹239',
 '₹799']

In [76]:
print(len(product),len(description),len(price))

100 100 100

In [77]:
item=pd.DataFrame()
item["Product"]=product
item["Description"]=description
item["Price"]=price
item

           Product                                        Description   Price
0    VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹1,344
1    VINCENT CHASE             UV Protection Wayfarer Sunglasses (55)    ₹759
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹198
3           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹253
4        Elligator                UV Protection Round Sunglasses (54)    ₹258
..             ...                                                ...     ...
95   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹799
96      Lee Topper  Riding Glasses Wrap-around Sunglasses (Free Size)    ₹275
97      Lee Topper   UV Protection Rectangular Sunglasses (Free Size)    ₹199
98  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹239
99   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹799

[100 rows x 3 columns]

# Q.5)

In [78]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [79]:
option=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div")
option

In [80]:
option.click()

In [81]:
rating=[]
for i in range(0,10):
    rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    rating_tag[0:100]
    for i in rating_tag:
        rating.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
        next_btn
rating=rating[0:100]
rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5']

In [82]:
review=[]
for i in range(0,10):
    review_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    review_tag[0:100]
    for i in review_tag:
        review.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
        next_btn
review=review[0:100]
review

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [83]:
full_rew=[]
for i in range(0,10):
    fullrew_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    fullrew_tag[0:100]
    for i in fullrew_tag:
        full_rew.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
        next_btn
full_rew=full_rew[0:100]
full_rew

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',

In [84]:
print(len(rating),len(review),len(full_rew))

100 100 100

In [85]:
mobile=pd.DataFrame()
mobile["Rating"]=rating
mobile["Review"]=review
mobile["Full_Review"]=full_rew
mobile

,Rating,Review,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

# Q.6)

In [87]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.flipkart.com')

In [88]:
search=driver.find_element_by_class_name("_3704LK")
search

In [89]:
search.send_keys("sneakers")

In [93]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [95]:
search_btn.click()

In [96]:
brand=[]
for i in range(0,3):
    brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    brand_tag[0:100]
    for i in brand_tag:
        brand.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_btn
brand=brand[0:100]
brand

['HIGHLANDER',
 'HIGHLANDER',
 'DUNKASTON',
 'BRUTON',
 'World Wear Footwear',
 'Chevit',
 'KWIK FIT',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'corsac',
 'HIGHLANDER',
 'D-SNEAKERZ',
 'BRUTON',
 'Magnolia',
 'HIGHLANDER',
 'BRUTON',
 'Shoes Bank',
 'RapidBox',
 'RapidBox',
 'URBANBOX',
 'Labbin',
 'Magnolia',
 'HIGHLANDER',
 'Kraasa',
 'TR',
 'Rzisbo',
 'EMPTILE',
 'CLYMB',
 'Stefano Rads',
 'ASTEROID',
 'HIGHLANDER',
 'Airland',
 'luxury fashion',
 'SCATCHITE',
 'HIGHLANDER',
 'World Wear Footwear',
 'aadi',
 'Zsyto',
 'HIGHLANDER',
 'HIGHLANDER',
 'HIGHLANDER',
 'DUNKASTON',
 'BRUTON',
 'World Wear Footwear',
 'Chevit',
 'KWIK FIT',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'corsac',
 'HIGHLANDER',
 'D-SNEAKERZ',
 'BRUTON',
 'Magnolia',
 'HIGHLANDER',
 'BRUTON',
 'Shoes Bank',
 'RapidBox',
 'RapidBox',
 'URBANBOX',
 'Labbin',
 'Magnolia',
 'HIGHLANDER',
 'Kraasa',
 'TR',
 'Rzisbo',
 'EMPTILE',
 'CLYMB',
 'Stefano Rads',
 'ASTEROID',
 'HIGHLANDER',
 'Airland',
 'luxury fashion',
 'SCATCHITE',
 'HIGHLANDER',
 'World Wear Footwear',
 'aadi',
 'Zsyto',
 'HIGHLANDER',
 'HIGHLANDER',
 'HIGHLANDER',
 'DUNKASTON',
 'BRUTON',
 'World Wear Footwear',
 'Chevit',
 'KWIK FIT',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'corsac',
 'HIGHLANDER',
 'D-SNEAKERZ',
 'BRUTON',
 'Magnolia',
 'HIGHLANDER',
 'BRUTON',
 'Shoes Bank',
 'RapidBox',
 'RapidBox']

In [97]:
product_des=[]
for i in range(0,4):
    description_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    description_tag[0:100]
    for i in description_tag:
        product_des.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_btn
product_des=product_des[0:100]
product_des

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneaker Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'all white heartbeat casual shoe Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'sneaker men red 1258 - 6 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneaker Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'all white heartbeat casual shoe Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'sneaker men red 1258 - 6 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneaker Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'all white heartbeat casual shoe Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'sneaker men red 1258 - 6 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [98]:
price=[]
for i in range(0,3):
    price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    price_tag[0:100]
    for i in price_tag:
        price.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
        next_btn
price=price[0:100]
price

['₹995',
 '₹719',
 '₹343',
 '₹259',
 '₹199',
 '₹649',
 '₹399',
 '₹499',
 '₹299',
 '₹199',
 '₹449',
 '₹719',
 '₹299',
 '₹471',
 '₹448',
 '₹995',
 '₹299',
 '₹298',
 '₹680',
 '₹630',
 '₹198',
 '₹499',
 '₹448',
 '₹995',
 '₹444',
 '₹360',
 '₹494',
 '₹397',
 '₹616',
 '₹240',
 '₹474',
 '₹796',
 '₹198',
 '₹489',
 '₹398',
 '₹796',
 '₹259',
 '₹359',
 '₹311',
 '₹995',
 '₹995',
 '₹719',
 '₹343',
 '₹259',
 '₹199',
 '₹649',
 '₹399',
 '₹499',
 '₹299',
 '₹199',
 '₹449',
 '₹719',
 '₹299',
 '₹471',
 '₹448',
 '₹995',
 '₹299',
 '₹298',
 '₹680',
 '₹630',
 '₹198',
 '₹499',
 '₹448',
 '₹995',
 '₹444',
 '₹360',
 '₹494',
 '₹397',
 '₹616',
 '₹240',
 '₹474',
 '₹796',
 '₹198',
 '₹489',
 '₹398',
 '₹796',
 '₹259',
 '₹359',
 '₹311',
 '₹995',
 '₹995',
 '₹719',
 '₹343',
 '₹259',
 '₹199',
 '₹649',
 '₹399',
 '₹499',
 '₹299',
 '₹199',
 '₹449',
 '₹719',
 '₹299',
 '₹471',
 '₹448',
 '₹995',
 '₹299',
 '₹298',
 '₹680',
 '₹630']

In [99]:
print(len(brand),len(product_des),len(price))

100 100 100

In [100]:
sneaker=pd.DataFrame()
sneaker["Brand"]=brand
sneaker["Description"]=product_des
sneaker["Price"]=price
sneaker

,Brand,Description,Price
0,HIGHLANDER,Sneakers For Men,₹995
1,HIGHLANDER,Sneakers For Men,₹719
2,DUNKASTON,Sneakers For Men,₹343
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹259
4,World Wear Footwear,Sneakers For Men,₹199
...,...,...,...
95,HIGHLANDER,Sneakers For Men,₹995
96,BRUTON,Men 5014 Latest Collection Stylish Casual Spor...,₹299
97,Shoes Bank,Sneakers For Men,₹298
98,RapidBox,Sneakers For Men,₹680
99,RapidBox,Sneakers For Men,₹630

# Q.7)

In [101]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.myntra.com/shoes')

In [102]:
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter

In [103]:
price_filter.click()

In [104]:
color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter

In [105]:
color_filter.click()

In [106]:
brand=[]
for i in range(0,3):
    brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    brand_tag[0:100]
    for i in brand_tag:
        brand.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[2]/div/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
        next_btn
brand=brand[0:100]
brand

['ALDO',
 'Reebok',
 'Nike',
 'ALDO',
 'Tommy Hilfiger',
 'ALDO',
 'Puma',
 'Puma',
 'Puma',
 'Hush Puppies',
 'Nike',
 'Puma',
 'Puma',
 'ASICS',
 'Skechers',
 'Hush Puppies',
 'Hush Puppies',
 'Saint G',
 'Bugatti',
 'Puma',
 'Hush Puppies',
 'J.FONTINI',
 'Saint G',
 'TRIBAN By Decathlon',
 'Hush Puppies',
 'Columbia',
 'Sole To Soul',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'MANGO',
 'Puma',
 'Heel & Buckle London',
 'Geox',
 'Geox',
 'ALDO',
 'ALDO',
 'ALDO',
 'J.FONTINI',
 'Bugatti',
 'J.FONTINI',
 'Saint G',
 'DAVINCHI',
 'MANGO',
 'Sole To Soul',
 'Geox',
 'Sole To Soul',
 'Sole To Soul',
 'ROSSO BRUNELLO',
 'Heel & Buckle London',
 'DAVINCHI',
 'ALDO',
 'Reebok',
 'Nike',
 'ALDO',
 'Tommy Hilfiger',
 'ALDO',
 'Puma',
 'Puma',
 'Puma',
 'Hush Puppies',
 'Nike',
 'Puma',
 'Puma',
 'ASICS',
 'Skechers',
 'Hush Puppies',
 'Hush Puppies',
 'Saint G',
 'Bugatti',
 'Puma',
 'Hush Puppies',
 'J.FONTINI',
 'Saint G',
 'TRIBAN By Decathlon',
 'Hush Puppies',
 'Columbia',
 'Sole To Soul',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'MANGO',
 'Puma',
 'Heel & Buckle London',
 'Geox',
 'Geox',
 'ALDO',
 'ALDO',
 'ALDO',
 'J.FONTINI',
 'Bugatti',
 'J.FONTINI',
 'Saint G',
 'DAVINCHI',
 'MANGO',
 'Sole To Soul',
 'Geox',
 'Sole To Soul',
 'Sole To Soul',
 'ROSSO BRUNELLO',
 'Heel & Buckle London',
 'DAVINCHI']

In [107]:
product_des=[]
for i in range(0,4):
    description_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    description_tag[0:100]
    for i in description_tag:
        product_des.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[2]/div/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
        next_btn
product_des=product_des[0:100]
product_des

['Men Leather Driving Shoes',
 'Men Zig Dynamica 2.0 Running',
 'Men Winflo 7 Running Shoes',
 'Men Printed Sneakers',
 'Men Cleated Leather Sneakers',
 'Men Woven Design Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Eternity Nitro Running Shoes',
 'Electrify Nitro Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Air Max Dawn Sneakers',
 'Men FUSE Training Shoes',
 'Men Training or Gym Shoes',
 'Women Running Shoes',
 'Men Go Run Hyper Burst Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Men Mid-Top Chelsea Boots',
 'Men Solid Leather Formal Derbys',
 'Women Velocity NITRO Runners',
 'Men Solid Formal Slip-Ons',
 'Men Black Leather Loafers',
 'Women Leather Block Heels',
 'Unisex Training or Gym Shoes',
 'Men Solid Leather Formal Derbys',
 'Men FACET OUTDRY Trekking Shoe',
 'Women Block Heeled Boots',
 'Women CLEAT Textured Sneakers',
 'Leather Sandals',
 'Women Solid Sneakers',
 'Women Eternity NITRO Shoes',
 'Men Suede Loafers',
 'Men Striped Leather Sneakers',
 'Men Leather Driving Shoes',
 'Wedge Sandals',
 'Leather Slim Heels',
 'Wedge Sandals',
 'Men Textured Leather Loafers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Textured Leather Loafers',
 'Leather High-Top Heeled Boots',
 'Men Textured Formal Leather Loafers',
 'Women Heeled Leather Loafers',
 'High-Top Block Heeled Boots',
 'Women Leather Pumps',
 'High-Top Platform Heeled Boots',
 'Suede High-Top Block Heeled Boots',
 'Printed PU Kitten Sandals',
 'Men Formal Leather Derby',
 'Solid Slip On Shoes',
 'Men Leather Driving Shoes',
 'Men Zig Dynamica 2.0 Running',
 'Men Winflo 7 Running Shoes',
 'Men Printed Sneakers',
 'Men Cleated Leather Sneakers',
 'Men Woven Design Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Eternity Nitro Running Shoes',
 'Electrify Nitro Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Air Max Dawn Sneakers',
 'Men FUSE Training Shoes',
 'Men Training or Gym Shoes',
 'Women Running Shoes',
 'Men Go Run Hyper Burst Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Men Mid-Top Chelsea Boots',
 'Men Solid Leather Formal Derbys',
 'Women Velocity NITRO Runners',
 'Men Solid Formal Slip-Ons',
 'Men Black Leather Loafers',
 'Women Leather Block Heels',
 'Unisex Training or Gym Shoes',
 'Men Solid Leather Formal Derbys',
 'Men FACET OUTDRY Trekking Shoe',
 'Women Block Heeled Boots',
 'Women CLEAT Textured Sneakers',
 'Leather Sandals',
 'Women Solid Sneakers',
 'Women Eternity NITRO Shoes',
 'Men Suede Loafers',
 'Men Striped Leather Sneakers',
 'Men Leather Driving Shoes',
 'Wedge Sandals',
 'Leather Slim Heels',
 'Wedge Sandals',
 'Men Textured Leather Loafers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Textured Leather Loafers',
 'Leather High-Top Heeled Boots',
 'Men Textured Formal Leather Loafers',
 'Women Heeled Leather Loafers',
 'High-Top Block Heeled Boots',
 'Women Leather Pumps',
 'High-Top Platform Heeled Boots',
 'Suede High-Top Block Heeled Boots',
 'Printed PU Kitten Sandals',
 'Men Formal Leather Derby',
 'Solid Slip On Shoes']

In [108]:
price=[]
for i in range(0,3):
    price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')
    price_tag[0:100]
    for i in price_tag:
        price.append(i.text)
        next_btn=driver.find_element_by_xpath("/html/body/div[2]/div/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
        next_btn
price=price[0:100]
price

['Rs. 12999',
 'Rs. 7999',
 'Rs. 7995',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 13999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 10995',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9499',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8490',
 'Rs. 9500',
 'Rs. 8579Rs. 10999(22% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 12999',
 'Rs. 8900',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 7599',
 'Rs. 8990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 12990',
 'Rs. 9990',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7990',
 'Rs. 10625Rs. 12500(15% OFF)',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 7900',
 'Rs. 8999',
 'Rs. 8900',
 'Rs. 9500',
 'Rs. 8499',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 7995',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 13999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 10995',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9499',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8490',
 'Rs. 9500',
 'Rs. 8579Rs. 10999(22% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 12999',
 'Rs. 8900',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 7599',
 'Rs. 8990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 12990',
 'Rs. 9990',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7990',
 'Rs. 10625Rs. 12500(15% OFF)',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 7900',
 'Rs. 8999',
 'Rs. 8900',
 'Rs. 9500',
 'Rs. 8499',
 'Rs. 7990',
 'Rs. 7990']

In [109]:
print(len(brand),len(product_des),len(price))

100 100 100

In [110]:
shoes=pd.DataFrame()
shoes["Brand"]=brand
shoes["Description"]=product_des
shoes["Price"]=price
shoes

,Brand,Description,Price
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,Reebok,Men Zig Dynamica 2.0 Running,Rs. 7999
2,Nike,Men Winflo 7 Running Shoes,Rs. 7995
3,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
4,Tommy Hilfiger,Men Cleated Leather Sneakers,Rs. 7739Rs. 8599(10% OFF)
...,...,...,...
95,Sole To Soul,High-Top Platform Heeled Boots,Rs. 8900
96,Sole To Soul,Suede High-Top Block Heeled Boots,Rs. 9500
97,ROSSO BRUNELLO,Printed PU Kitten Sandals,Rs. 8499
98,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
99,DAVINCHI,Solid Slip On Shoes,Rs. 7990

# Q.8)

In [111]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.amazon.in/s?k=laptop&crid=35N1FB82LTGDS&sprefix=laptop%2Caps%2C510&ref=nb_sb_noss_1')

In [116]:
CPU_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[10]/span/a/span")
CPU_filter

In [117]:
CPU_filter.click()

In [118]:
title_tag=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tag[0:10]

title=[]
for i in title_tag:
    title.append(i.text)
title=title[0:10]
title

['MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Dell G15 5511 Intel i7-11800H Gaming Laptop,16GB DDR4,512GB SSD, Win 11+MSO\'21, NVIDIA RTX 3060 6GB GDDR6,15.6" (39.62cm) FHD AG 300 nits 165Hz, Backlit KB RGB, Black (D560670WIN9B), 2.6kg',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'LG Gram 14 Intel Evo 11th Gen Core i7 14 inches Ultralight Laptop (16 GB RAM, 512 GB SSD, Windows 10, Iris Xe Graphics Thunderbolt 4, USC -Cx2 (with Power), 0.999kg, 14Z90P, Black)',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/2 Yr Warranty/Backlit Kb/Black/0.997 kg, 4ZR1F38027)']

In [119]:
rating_tag=driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
rating_tag[0:10]

rating=[]
for i in rating_tag:
    rating.append(i.text)
rating=rating[0:10]
rating

['2', '23', '916', '3', '85', '32', '39', '77', '56', '2']

In [120]:
price_tag=driver.find_elements_by_xpath('//span[@class="a-price"]')
price_tag[0:10]

price=[]
for i in price_tag:
    price.append(i.text)
price=price[0:10]
price

['₹75,490',
 '₹1,25,510',
 '₹57,490',
 '₹77,499',
 '₹89,990',
 '₹88,990',
 '₹90,990',
 '₹83,990',
 '₹85,790',
 '₹1,06,490']

In [121]:
print(len(title),len(rating),len(price))

10 10 10

In [122]:
laptop=pd.DataFrame()
laptop["Rating"]=rating
laptop["Title"]=title
laptop["Price"]=price
laptop

  Rating                                              Title      Price
0      2  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...    ₹75,490
1     23  Dell G15 5511 Intel i7-11800H Gaming Laptop,16...  ₹1,25,510
2    916  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    ₹57,490
3      3  Mi Notebook Ultra 3.2K Resolution Display Inte...    ₹77,499
4     85  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    ₹89,990
5     32  LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...    ₹88,990
6     39  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    ₹90,990
7     77  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    ₹83,990
8     56  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    ₹85,790
9      2  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...  ₹1,06,490

# Q.9)

In [143]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.ambitionbox.com')

In [144]:
job_option=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_option

In [145]:
job_option.click()

In [146]:
search_job=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_job

In [147]:
search_job.send_keys("Data Scientist")

In [148]:
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_btn

In [149]:
search_btn.click()

In [150]:
loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
loc

In [151]:
loc.click()

In [152]:
search_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc

In [153]:
search_loc.send_keys("Noida")

In [154]:
select_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")

In [155]:
select_loc.click()

In [158]:
company_tag=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_tag[0:10]

company=[]
for i in company_tag:
    company.append(i.text)
company=company[0:10]
company

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED',
 'HCL Technologies Limited',
 'WSP CONSULTANTS INDIA PRIVATE LIMITED',
 'Microsoft India (R and D) Pvt Ltd',
 'HCL Technologies Ltd',
 'Jubilant Foodworks Limited',
 'HCL Technologies',
 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED',
 'Hanu Software Solutions Pvt Ltd',
 'Tavant Technologies India Pvt. Ltd.']

In [164]:
postdate_tag=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
postdate_tag[0:10]

postdate=[]
for i in postdate_tag:
    postdate.append(i.text)
postdate=postdate[0:10]
postdate

['11d ago',
 'via naukri.com',
 '12d ago',
 'via naukri.com',
 '13d ago',
 'via naukri.com',
 '23d ago',
 'via naukri.com',
 '21d ago',
 'via naukri.com']

In [165]:
rating_tag=driver.find_elements_by_xpath('//span[@class="body-small"]')
rating_tag[0:10]

rating=[]
for i in rating_tag:
    rating.append(i.text)
rating=rating[0:10]
rating

['3.9', '3.8', '4.2', '4.2', '3.8', '3.9', '3.8', '3.7', '3.7', '4.0']

In [167]:
print(len(company),len(postdate),len(rating))

10 10 10

In [168]:
com=pd.DataFrame()
com["Company"]=company
com["Postdate"]=postdate
com["Rating"]=rating
com

                                             Company        Postdate Rating
0  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED         11d ago    3.9
1                           HCL Technologies Limited  via naukri.com    3.8
2              WSP CONSULTANTS INDIA PRIVATE LIMITED         12d ago    4.2
3                  Microsoft India (R and D) Pvt Ltd  via naukri.com    4.2
4                               HCL Technologies Ltd         13d ago    3.8
5                         Jubilant Foodworks Limited  via naukri.com    3.9
6                                   HCL Technologies         23d ago    3.8
7               RATEGAIN TRAVEL TECHNOLOGIES LIMITED  via naukri.com    3.7
8                    Hanu Software Solutions Pvt Ltd         21d ago    3.7
9                Tavant Technologies India Pvt. Ltd.  via naukri.com    4.0

# Q.10)

In [169]:
driver = webdriver.Firefox(executable_path=r"C:\geckodriver.exe")
driver.implicitly_wait(2)
driver.maximize_window()
driver.get('https://www.ambitionbox.com')

In [170]:
salary_option=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary_option

In [171]:
salary_option.click()

In [172]:
search_job=driver.find_element_by_xpath('//input[@class="tt-input"]')
search_job

In [173]:
search_job.send_keys("Data Scientist")

In [175]:
select=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div")
select

In [176]:
select.click()

In [190]:
company_tag=driver.find_elements_by_xpath('//div[@class="name"]')
company_tag[0:10]

company=[]
for i in company_tag:
    company.append(i.text)
company=company[0:10]
company

['Ab Inbev\nbased on 28 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 77 salaries',
 'Tiger Analytics\nbased on 33 salaries',
 'UnitedHealth\nbased on 52 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries',
 'Deloitte\nbased on 57 salaries']